/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-size: 62.5%;
  color: #ffffff;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:active {
  color: #ffffff;
}
a:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 375px;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

#l-container {
  background-image: url(../../images/container_background-image-pc.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 374px;
  min-height: 666px;
}

#l-header {
  height: 70px;
}

.c-circle__main, .c-circle__menu {
  width: 28vh;
  height: 28vh;
  border: #740A00 2px solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
}
.c-circle__principal {
  width: 70vh;
  height: 70vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #000000 2px solid;
  border-radius: 35vh;
}
.c-circle__menu {
  width: 14vh;
  height: 14vh;
}

.c-font__footer, .c-font__scroll {
  font-family: "Shippori Mincho", serif;
  color: #D20A13;
  font-size: 2rem;
  font-weight: 500;
}
.c-title__main {
  font-family: "Shippori Mincho", serif;
  color: #FF3E2C;
  font-size: 18vh;
  font-weight: 700;
}
.c-title__menu--front {
  font-family: "Shippori Mincho", serif;
  color: #740A00;
  font-size: 7.5vh;
  font-weight: 600;
}

.c-img__scroll {
  -webkit-animation-name: kf-scroll-anime;
          animation-name: kf-scroll-anime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-scroll-anime {
  0%, 50%, 100% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  30%, 70% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-scroll-anime {
  0%, 50%, 100% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  30%, 70% {
    -webkit-transform: none;
            transform: none;
  }
}
.p-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-wrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.p-wrapper__foot {
  width: 800px;
}

.p-area {
  position: relative;
}
.p-area__main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  line-height: 28vh;
}
.p-area__front-menu--lv1, .p-area__front-menu--lv3, .p-area__front-menu--lv2 {
  position: absolute;
  text-align: center;
  line-height: 14vh;
}
.p-area__scroll {
  display: inline-block;
  text-align: center;
  width: 70vh;
  position: absolute;
  top: 52vh;
  left: 34vh;
}
.p-area__scroll img {
  height: 60px;
  width: 14px;
}
.p-area__scroll span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: -5px;
  top: 13px;
}