@use "../../foundation/_mixin.scss";
@use "../../foundation/_variables.scss";

.c-title {
   &__main {
      @include mixin.mainRed;
      font-size: 18vh;
      font-weight: 700;
   }
   &__skill-font {
      @include mixin.fontWhite;
      font-size: 4.8rem;
      font-weight: bold;
      text-align: center;
   }
}