

.p-about {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: center;
   &__left {
      width: 250px;
   }
   &__detail--left {
      position: absolute;
      top: 0;
      left: 250px;
      //background-color: aqua;
      //display: none;
      width: 70vh;
      height: 70vh;
   }
   &__right {
      width: 250px;
   }
   &__center {

   }
}