.p-feature {
   &__title {

   }
   &__text {
      height  : 38vh;
      overflow: hidden;
   }
   &__link {
      display        : flex;
      flex-direction : row;
      justify-content: center;
   }
   &__icon {
      width : 10vh;
      height: 10vh;
      a {
         display: inline-block;
         width  : 100%;
         height : 100%;
      }
   }
}