.p-skill-area {
   display: flex;
   flex-direction: row;
   justify-content: center;
   &__menu--left {

   }
   &__main {
      transform: translate(50%, 50%);
   }
   &__menu--right {

   }
}