@use "../../foundation/_mixin.scss";
@use "../../foundation/_variables.scss" as val;

.p-wrapper {
   display       : flex;
   flex-direction: column;
   align-items   : center;


   &__swiper {
      width           : 500px;
	   height          : 500px;
      background-color: val.$black;
	   border          : 5px solid val.$gold;
      box-sizing      : border-box;
      border-radius   : 0% 97% 0 93%;
      margin          : auto;
      transform       : rotate(-45deg);
      // border-top-style: none;
      // border-right-style: none;
      .swiper {
            transform: rotate(45deg);
         &-wrapper {
         }
         &-slide {
            width : 500px;
            height: 500px;
            &.swiper-slide-duplicate-active {
            }
         }
      }
   }

   &__slide {
      width          : 100%;
      height         : 100%;
      display        : flex;
      justify-content: center;
      align-items    : center;
      position       : relative;
      & > p {
         width: 300px;
         background-color: val.$mainColor;
         position : absolute;
         top      : 450px;
         left     : 50%;
         transform: translate(-50%, -50%);
         text-align:center
      }
   }

   &__footer {
      width: 50vh;
   }
   &__footer-list {
      display        : flex;
      flex-direction : row;
      justify-content: space-between;
   }
}

