@use "../../foundation/_mixin.scss";

.p-wrapper {
   display       : flex;
   flex-direction: column;
   align-items   : center;

   &__footer {
      width: 50vh;
   }
   &__footer-list {
      display        : flex;
      flex-direction : row;
      justify-content: space-between;
   }
   &__swiper {
      & > .swiper {
         //transform: rotate(-45deg) skew(10deg, 10deg);
      }

   .swiper {
      transform: rotate(-45deg);
      width: 500px;
	   height: 500px;
      &-wrapper {
         
         width: 500px;
	      height: 500px;
	      border: 5px solid #000;
         // border-top-style: none;
         // border-right-style: none;
	      box-sizing: border-box;
         border-radius: 0% 90% 0 90%;
      }
      &-slide {
         div {
            //transform: rotate(45deg);
            margin: auto;
         }

      }
   }
  }
}

//swiper-slide-duplicate-activeクラスが付与されたら前面になる