@use "../../foundation/_mixin.scss";
@use "../../foundation/_variables.scss" as val;

.p-wrapper {
   display       : flex;
   flex-direction: column;
   align-items   : center;


   &__swiper {
      position        : relative;
      width           : 600px;
	   height          : 600px;
      background-color: val.$black;
	   border          : 5px solid val.$gold;
      box-sizing      : border-box;
      border-radius   : 0% 88% 0 87%;
      margin          : auto;
      transform       : rotate(-45deg);

      //swiperハンドリング
      .swiper {
         width : 600px;
         height: 600px;
         transform: translate(-1%, -1%) rotate(45deg);

         &-wrapper {
         }

         &-slide {
            width : 600px;
            height: 600px;
            img {
            transform: scale(0.9);
            transition: transform 1s;
            }
            p {
               opacity: 0;
            }
            //前面にあるスライダー
            &-active {
               img {
                  transform: scale(1);
               }
               p {
                  opacity: 1;
               }
            }
         }
      }
   }

   &__slide {
      width          : 100%;
      height         : 100%;
      display        : flex;
      justify-content: center;
      align-items    : center;
      position       : relative;
      & > p {
         //width: 300px;
         position : absolute;
         top      : 80px;
         left     : 50%;
         transform: translate(-50%, -50%);
         
      }
   }

   &__footer {
      width: 50vh;
   }
   &__footer-list {
      display        : flex;
      flex-direction : row;
      justify-content: space-between;
   }
}

