#l-container {
	height: 1080px;
	width: 1920px;
	background-image: url(../../images/container_background-image-pc.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}